/* Apercu pro */

@font-face {
    font-family: 'ApercuProBold';
    src: url('../fonts/apercu-pro/bold/ApercuPro-Bold.eot');
    src: url('../fonts/apercu-pro/bold/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-pro/bold/ApercuPro-Bold.woff') format('woff'),
         url('../fonts/apercu-pro/bold/ApercuPro-Bold.ttf') format('truetype'),
         url('../fonts/apercu-pro/bold/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuProRegular';
    src: url('../fonts/apercu-pro/regular/ApercuPro.eot');
    src: url('../fonts/apercu-pro/regular/ApercuPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-pro/regular/ApercuPro.woff') format('woff'),
         url('../fonts/apercu-pro/regular/ApercuPro.ttf') format('truetype'),
         url('../fonts/apercu-pro/regular/ApercuPro.svg#ApercuPro') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuProLight';
    src: url('../fonts/apercu-pro/light/ApercuPro-Bold.eot');
    src: url('../fonts/apercu-pro/light/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-pro/light/ApercuPro-Bold.woff') format('woff'),
         url('../fonts/apercu-pro/light/ApercuPro-Bold.ttf') format('truetype'),
         url('../fonts/apercu-pro/light/ApercuPro-Bold.svg#ApercuPro-Light') format('svg');
    font-weight: bold;
    font-style: normal;
}