+b('section').index-company
  +e.inner
    +e('h1').title
      | Поддержка.
      br 
      | Поэтапное развитие.
      br 
      | интернет-проектов.
    +e.text
      p Мы обслуживаем и развиваем бизнес клиентов. Долгое и глубокое знакомство позволяет нам обеспечивать качественную поддержку проектов так, как будто это наш собственный бизнес
  +e('a')(href="#portfolio-section").anchor-btn